<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

</head>

<body>
    <h1>The Home Page <%= 2+2+2+2+2+2%>
    </h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quod natus atque id, commodi aspernatur facilis,
        cupiditate unde delectus modi repudiandae quam maiores. Exercitationem quam veritatis placeat numquam quas ea?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe architecto sequi aliquid consequatur. Quibusdam
        dicta fugit veniam enim iusto numquam omnis libero eum provident exercitationem itaque, dolores facere culpa
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, adipisci alias quis qui, commodi illo unde
        possimus ullam quae similique voluptate, iste eveniet praesentium quasi sunt? Facere corrupti nam neque!
    </p>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse in, accusamus doloribus quae explicabo porro quia
        vel saepe numquam id. Ad ratione cupiditate magnam sequi consequatur natus maxime ab dolorum!
    </p>
</body>

</html>